NGINX_PORT=8080
MYSQL_PORT=3306

# Override if your host user is not UID:GID 1000:1000 (run `id -u` / `id -g`)
UID=1000
GID=1000

MYSQL_ROOT_PASSWORD=rootsecret
MYSQL_DATABASE=test_assignment_blog
MYSQL_USER=blog
MYSQL_PASSWORD=blogsecret
